.section {
    background-size: cover;
    background-image: url("/PCS/137231387_147159857047550_5556909252536539973_n.jpg");
    min-height: 800px;
    width: 100%;
}


.section h1 {
    color: red;
    font-size: 35px;
}
